main {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;

  padding-top: 2rem;
  height: 100vh;
}

header {
  position: fixed;
  display: flex;
  
  padding: 1rem;
  top: 1rem;

}

header ul {
  display: flex;
  flex: 1;
  list-style: none;
  background-color: #FFFFFF;
  gap: 1rem;
  border-radius: 2rem;
  padding: 0 2rem;
}

header ul li {
  display: flex;
  flex: 1;
}


header ul li:nth-child(1) {
  margin-right: 5rem;
}

header ul li:nth-child(1) a {
  padding: 0.4rem 0;
}

header ul li:nth-child(1) a img {
  height: 2rem;
}

header ul li:nth-child(2) a {
  color: rgba(0, 0, 0, 1);
  border-bottom: 0.17rem solid #04a7ff;
}

header ul li a {
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, .6);
  text-decoration: none;
  font-size: 0.8rem;
}

section#home {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}